# 抽样

## 随机数random模块

In [2]:
#导入 random(随机数)模块
import random

使用random 模块的 randint()函数来生成随机数  

语法是：random.randint(a,b)函数返回数字N  

N为a到b之间的数字（a <= N <=b ）包含 a 和 b  

下面案例是生成0~9之间的随机数，  

每次执行后都返回不同的数字（0~9）

In [3]:
a=random.randint(0,9)
print(a)

7

## 案例：抽奖

range()函数可创建一个整数列表，一般用在for循环中。

使用的语法：

range(start,stop,[step])

参数说明：

start:计数从start开始。默认是从0开始。例如：range(5)等价于range(0,5)

start:计数从start开始，但不包括 stop.例如：range(0,5)是[0,1,2,3,4]没有5

step:步长，默认为1。例如：range(0,5)等价于range(0,5,1)

抽奖：生成多个随机数

应用案例：从666个客户中随机抽取6人作为中奖者

In [6]:
for i in range(6):
    Id=random.randint(0,666)
    #用%s格式化字符串
    print('第 %s 位获奖用户id是 %s'%(i+1,Id))#这里的第几位是通俗意义上的，故i+1

第 1 位获奖用户id是 231
第 2 位获奖用户id是 446
第 3 位获奖用户id是 148
第 4 位获奖用户id是 113
第 5 位获奖用户id是 610
第 6 位获奖用户id是 550

## pandas数据狂（DataFrame）的抽样方法

In [7]:
#导入包
import numpy as np #数据包
import pandas as pd #数据分析包

arrange产生一个含有5*4个元素的一维数组

reshape:将数组转换成5行4列的二维数组

In [9]:
df=pd.DataFrame(np.arange(5*4).reshape((5,4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [12]:
#随机选择一个2行的子集
sample=df.sample(n=2)
sample

   0  1   2   3
2  8  9  10  11
0  0  1   2   3