In [82]:
#导入包
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import json
from wordcloud import WordCloud
import seaborn as sns  #Seaborn是基于matplotlib的python数据可视化库，提供更高层次的API封装，使用起来更加方便快捷
from pylab import*
mpl.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False#解决绘图中文乱码的问题
import warnings
warnings.filterwarnings('ignore') #利用过滤器来实现忽略告警

In [83]:
movies=pd.read_csv('C:\\Users\\chen jia ni\\Desktop\\tmdb_5000_movies.csv')
credits=pd.read_csv('C:\\Users\\chen jia ni\\Desktop\\tmdb_5000_credits.csv')
print('电影信息数据集',movies.shape,'演员信息数据集',credits.shape)

电影信息数据集 (4803, 20) 演员信息数据集 (4803, 4)

In [84]:
#查看数据
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.5+ KB

In [85]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [86]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
movie_id    4803 non-null int64
title       4803 non-null object
cast        4803 non-null object
crew        4803 non-null object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [87]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [88]:
#检验id和movie_id是否相等，title是否相等。
print((credits['movie_id']==movies['id']).describe())

count     4803
unique       1
top       True
freq      4803
dtype: object

In [89]:
print((credits['title']==movies['title']).describe())

count     4803
unique       1
top       True
freq      4803
Name: title, dtype: object

In [90]:
#合并两个数据集,水平方向合并
fullDF=pd.concat([movies,credits],axis=1)
fullDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
movie_id                4803 non-null int64
title                   4803 non-null object
cast                    4803 non-null object
crew                    4803 non-null object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.6+ KB

In [91]:
#删除用不到的列
del fullDF['homepage']
del fullDF['spoken_languages']
del fullDF['original_language']
del fullDF['original_title']
del fullDF['overview']
del fullDF['tagline']
del fullDF['status']

In [92]:
fullDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 17 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
movie_id                4803 non-null int64
title                   4803 non-null object
cast                    4803 non-null object
crew                    4803 non-null object
dtypes: float64(3), int64(5), object(9)
memory usage: 638.0+ KB

In [93]:
#找到 runtime的缺失值
nan_runtime=fullDF['runtime'].isnull()
fullDF.loc[nan_runtime,:]

,budget,genres,id,keywords,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,movie_id,title,cast,crew
2656,15000000,"[{""id"": 18, ""name"": ""Drama""}]",370980,"[{""id"": 717, ""name"": ""pope""}, {""id"": 5565, ""na...",0.738646,"[{""name"": ""Taodue Film"", ""id"": 45724}]","[{""iso_3166_1"": ""IT"", ""name"": ""Italy""}]",2015-12-03,0,NaN,Chiamatemi Francesco - Il Papa della gente,7.3,12,370980,Chiamatemi Francesco - Il Papa della gente,"[{""cast_id"": 5, ""character"": ""Jorge Mario Berg...","[{""credit_id"": ""5660019ac3a36875f100252b"", ""de..."
4140,2,"[{""id"": 99, ""name"": ""Documentary""}]",459488,"[{""id"": 6027, ""name"": ""music""}, {""id"": 225822,...",0.050625,"[{""name"": ""Eyeline Entertainment"", ""id"": 60343}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2015-12-12,0,NaN,"To Be Frank, Sinatra at 100",0.0,0,459488,"To Be Frank, Sinatra at 100","[{""cast_id"": 0, ""character"": ""Narrator"", ""cred...","[{""credit_id"": ""592b25e4c3a368783e065a2f"", ""de..."

In [94]:
#填补缺失值,填补runtime
fullDF.loc[2656,'runtime']="98"

In [95]:
fullDF.loc[2656,'runtime']

'98'

In [96]:
fullDF.loc[4140,'runtime']='82'

In [97]:
fullDF.loc[4140,'runtime']

'82'

In [98]:
fullDF[fullDF['release_date'].isnull()]

,budget,genres,id,keywords,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,movie_id,title,cast,crew
4553,0,[],380097,[],0.0,[],[],NaN,0,0,America Is Still the Place,0.0,0,380097,America Is Still the Place,[],[]

In [99]:
fullDF.loc[4553,'release_date']='2017-11-01'

In [100]:
fullDF.loc[4553,'release_date']

'2017-11-01'

In [101]:
#将release_date从字符串改为日期类型
fullDF.loc[:,'release_date']=pd.to_datetime(fullDF.loc[:,'release_date'],format='%Y-%m-%d',errors='coerce')
a=fullDF['release_date'].dt.year
fullDF['year']=a
fullDF.loc[:,'year']

0       2009
1       2007
2       2015
3       2012
4       2012
5       2007
6       2010
7       2015
8       2009
9       2016
10      2006
11      2008
12      2006
13      2013
14      2013
15      2008
16      2012
17      2011
18      2012
19      2014
20      2012
21      2010
22      2013
23      2007
24      2005
25      1997
26      2016
27      2012
28      2015
29      2012
        ...
4773    1994
4774    1971
4775    2002
4776    1997
4777    2002
4778    2009
4779    1990
4780    2015
4781    2013
4782    2003
4783    2015
4784    2005
4785    2014
4786    2009
4787    2011
4788    1972
4789    2004
4790    2000
4791    2007
4792    1997
4793    2004
4794    2012
4795    1995
4796    2004
4797    2005
4798    1992
4799    2011
4800    2013
4801    2012
4802    2005
Name: year, Length: 4803, dtype: int64