In [1]:
import numpy as np
import pandas as pd

In [5]:
s1 = pd.Series([1,2,3,4],index=['a','b','c','d'])
s2 = pd.Series([10,20,30,40],index=['a','b','e','f'])
s3 = s1 + s2
s3

a    11.0
b    22.0
c     NaN
d     NaN
e     NaN
f     NaN
dtype: float64

In [6]:
#删除缺失值
s3.dropna()

a    11.0
b    22.0
dtype: float64

In [10]:
#将缺失值进行填充
s3 = s1.add(s2,fill_value=0)
s3

a    11.0
b    22.0
c     3.0
d     4.0
e    30.0
f    40.0
dtype: float64

In [11]:
salesDict={
    '购药时间':['2018-01-01 星期五','2018-01-02 星期六','2018-01-06 星期三'],
    '社保卡号':['001616528','001616528','0012602828'],
    '商品编码':[236701,236701,236701],
    '商品名称':['强力VC银翘片','清热解毒口服液','感康'],
    '销售数量':[6,1,2],
    '应收金额':[82.8,28,16.8],
    '实收金额':[69,24.64,15]
}

#导入有序字典
from collections import OrderedDict
#定义一个有序字典
salesOrderDict=OrderedDict(salesDict)

#定义数据框：传入字典，列名
salesDf=pd.DataFrame(salesOrderDict)

In [12]:
salesDf

             购药时间        社保卡号    商品编码     商品名称  销售数量  应收金额   实收金额
0  2018-01-01 星期五   001616528  236701  强力VC银翘片     6  82.8  69.00
1  2018-01-02 星期六   001616528  236701  清热解毒口服液     1  28.0  24.64
2  2018-01-06 星期三  0012602828  236701       感康     2  16.8  15.00

In [20]:
salesDf.loc[:,'社保卡号':'销售数量']

         社保卡号    商品编码     商品名称  销售数量
0   001616528  236701  强力VC银翘片     6
1   001616528  236701  清热解毒口服液     1
2  0012602828  236701       感康     2

In [19]:
salesDf[['商品名称','销售数量']]

      商品名称  销售数量
0  强力VC银翘片     6
1  清热解毒口服液     1
2       感康     2

In [24]:
querySer=salesDf.loc[:,'销售数量']>2
type(querySer)

pandas.core.series.Series

In [26]:
querySer

0     True
1    False
2    False
Name: 销售数量, dtype: bool

In [25]:
salesDf.loc[querySer,:]

             购药时间       社保卡号    商品编码     商品名称  销售数量  应收金额  实收金额
0  2018-01-01 星期五  001616528  236701  强力VC银翘片     6  82.8  69.0

In [32]:
#读取Ecxcel数据
fileNameStr='C:/Users\chen jia ni\Desktop\朝阳医院2018年销售数据.xlsx'
xls = pd.ExcelFile(fileNameStr)
salesDf = xls.parse('Sheet1')

In [34]:
salesDf.head()

             购药时间          社保卡号      商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01 星期五  1.616528e+06  236701.0  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02 星期六  1.616528e+06  236701.0  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06 星期三  1.260283e+07  236701.0       感康   2.0   16.8   15.00
3  2018-01-11 星期一  1.007034e+10  236701.0    三九感冒灵   1.0   28.0   28.00
4  2018-01-15 星期五  1.015543e+08  236701.0    三九感冒灵   8.0  224.0  208.00

In [35]:
salesDf.loc[:,'销售数量'].dtype

dtype('float64')

In [36]:
salesDf.shape

(6578, 7)

In [37]:
salesDf.describe()

               社保卡号          商品编码         销售数量         应收金额         实收金额
count  6.576000e+03  6.577000e+03  6577.000000  6577.000000  6577.000000
mean   6.091254e+09  1.015869e+06     2.386194    50.473803    46.317510
std    4.889284e+09  5.131153e+05     2.375202    87.595925    80.976702
min    1.616528e+06  2.367010e+05   -10.000000  -374.000000  -374.000000
25%    1.014234e+08  8.614560e+05     1.000000    14.000000    12.320000
50%    1.001650e+10  8.615070e+05     2.000000    28.000000    26.600000
75%    1.004882e+10  8.690690e+05     2.000000    59.600000    53.000000
max    1.283612e+10  2.367012e+06    50.000000  2950.000000  2650.000000

In [41]:
#读取Ecxcel数据
fileNameStr='C:/Users\chen jia ni\Desktop\朝阳医院2018年销售数据.xlsx'
xls = pd.ExcelFile(fileNameStr)
salesDf = xls.parse('Sheet1')
salesDf.head()

             购药时间          社保卡号      商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01 星期五  1.616528e+06  236701.0  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02 星期六  1.616528e+06  236701.0  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06 星期三  1.260283e+07  236701.0       感康   2.0   16.8   15.00
3  2018-01-11 星期一  1.007034e+10  236701.0    三九感冒灵   1.0   28.0   28.00
4  2018-01-15 星期五  1.015543e+08  236701.0    三九感冒灵   8.0  224.0  208.00

In [42]:
salesDf.dtypes

购药时间     object
社保卡号    float64
商品编码    float64
商品名称     object
销售数量    float64
应收金额    float64
实收金额    float64
dtype: object

In [43]:
salesDf.shape

(6578, 7)

In [44]:
#字典：旧列名和新列名对应关系
colNameDict = {'购药时间':'销售时间'}

In [45]:
salesDf.rename(columns = colNameDict,inplace=True)
salesDf.head()

             销售时间          社保卡号      商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01 星期五  1.616528e+06  236701.0  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02 星期六  1.616528e+06  236701.0  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06 星期三  1.260283e+07  236701.0       感康   2.0   16.8   15.00
3  2018-01-11 星期一  1.007034e+10  236701.0    三九感冒灵   1.0   28.0   28.00
4  2018-01-15 星期五  1.015543e+08  236701.0    三九感冒灵   8.0  224.0  208.00

In [46]:
print('删除缺失值前大小',salesDf.shape)

删除缺失值前大小 (6578, 7)

In [47]:
salesDf=salesDf.dropna(subset=['销售时间','社保卡号'],how='any')

In [48]:
print('删除缺失后大小',salesDf.shape)

删除缺失后大小 (6575, 7)

In [50]:
salesDf['销售数量'] = salesDf['销售数量'].astype('float')
salesDf['应收金额'] = salesDf['应收金额'].astype('float')
salesDf['实收金额'] = salesDf['实收金额'].astype('float')
salesDf['社保卡号'] = salesDf['社保卡号'].astype('object')
salesDf['商品编码'] = salesDf['商品编码'].astype('object')
print('转换后的数据类型：\n',salesDf.dtypes)

转换后的数据类型：
 销售时间     object
社保卡号     object
商品编码     object
商品名称     object
销售数量    float64
应收金额    float64
实收金额    float64
dtype: object

In [52]:
testList='2018-01-01 星期五'.split(' ')
testList

['2018-01-01', '星期五']

In [53]:
testList[0]

'2018-01-01'

In [54]:
def splitSaletime(timeColSer):
    timeList=[]
    for value in timeColSer:
        #例如2018-01-01 星期五，分割后为：2018-01-01
        dateStr=value.split(' ')[0]
        timeList.append(dateStr)
    
    #将列表转行为一维数据Series类型
    timeSer=pd.Series(timeList)
    return timeSer

In [59]:
#获取“销售时间”这一列
timeSer=salesDf.loc[:,'销售时间']
#对字符串进行分割，获取销售日期
dateSer=splitSaletime(timeSer)
dateSer[0:4]

0    2018-01-01
1    2018-01-02
2    2018-01-06
3    2018-01-11
dtype: object

In [60]:
#修改销售时间这一列的值
salesDf.loc[:,'销售时间']=dateSer

In [61]:
salesDf.head()

         销售时间         社保卡号    商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01  1.61653e+06  236701  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02  1.61653e+06  236701  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06  1.26028e+07  236701       感康   2.0   16.8   15.00
3  2018-01-11  1.00703e+10  236701    三九感冒灵   1.0   28.0   28.00
4  2018-01-15  1.01554e+08  236701    三九感冒灵   8.0  224.0  208.00

In [62]:
salesDf.loc[:,'销售时间']=pd.to_datetime(salesDf.loc[:,'销售时间'],
                                    format='%Y-%m-%d', 
                                    errors='coerce')

In [63]:
salesDf.dtypes

销售时间    datetime64[ns]
社保卡号            object
商品编码            object
商品名称            object
销售数量           float64
应收金额           float64
实收金额           float64
dtype: object

In [64]:
salesDf.shape

(6575, 7)

In [65]:
salesDf=salesDf.dropna(subset=['销售时间','社保卡号'],how='any')

In [66]:
salesDf.shape

(6549, 7)

In [68]:
print('排序前的数据集')
salesDf.head()

排序前的数据集

        销售时间         社保卡号    商品编码     商品名称  销售数量   应收金额    实收金额
0 2018-01-01  1.61653e+06  236701  强力VC银翘片   6.0   82.8   69.00
1 2018-01-02  1.61653e+06  236701  清热解毒口服液   1.0   28.0   24.64
2 2018-01-06  1.26028e+07  236701       感康   2.0   16.8   15.00
3 2018-01-11  1.00703e+10  236701    三九感冒灵   1.0   28.0   28.00
4 2018-01-15  1.01554e+08  236701    三九感冒灵   8.0  224.0  208.00

In [70]:
'''
by：按那几列排序
ascending=True 表示升序排列，
ascending=False表示降序排列
'''
#按销售日期进行升序排列
salesDf=salesDf.sort_values(by='销售时间',
                    ascending=True)
print('排序后的数据集')
salesDf.head()

排序后的数据集

           销售时间         社保卡号    商品编码                商品名称  销售数量  应收金额  实收金额
0    2018-01-01  1.61653e+06  236701             强力VC银翘片   6.0  82.8  69.0
2178 2018-01-01  1.26978e+07  861464       复方利血平片(复方降压片)   4.0  10.0   9.4
1903 2018-01-01  1.00607e+10  861458  复方利血平氨苯蝶啶片(北京降压0号)   1.0  10.3   9.2
2457 2018-01-01  1.18117e+07  861492       x硝苯地平缓释片(伲福达)   1.0  20.0  18.0
1476 2018-01-01  1.18117e+07  861456      酒石酸美托洛尔片(倍他乐克)   1.0   7.0   6.3

In [71]:
#重命名行名（index）：排序后的列索引值是之前的行号，需要修改成从0到N按顺序的索引值
salesDf=salesDf.reset_index(drop=True)
salesDf.head()

        销售时间         社保卡号    商品编码                商品名称  销售数量  应收金额  实收金额
0 2018-01-01  1.61653e+06  236701             强力VC银翘片   6.0  82.8  69.0
1 2018-01-01  1.26978e+07  861464       复方利血平片(复方降压片)   4.0  10.0   9.4
2 2018-01-01  1.00607e+10  861458  复方利血平氨苯蝶啶片(北京降压0号)   1.0  10.3   9.2
3 2018-01-01  1.18117e+07  861492       x硝苯地平缓释片(伲福达)   1.0  20.0  18.0
4 2018-01-01  1.18117e+07  861456      酒石酸美托洛尔片(倍他乐克)   1.0   7.0   6.3

In [72]:
#删除异常值：通过条件判断筛选出数据
#查询条件
querySer=salesDf.loc[:,'销售数量']>0
#应用查询条件
print('删除异常值前：',salesDf.shape)
salesDf=salesDf.loc[querySer,:]
print('删除异常值后：',salesDf.shape)

删除异常值前： (6549, 7)
删除异常值后： (6506, 7)

In [73]:
'''
总消费次数：同一天内，同一个人发生的所有消费算作一次消费
#根据列名（销售时间，社区卡号），如果这两个列值同时相同，只保留1条，将重复的数据删除
'''

kpi1_Df=salesDf.drop_duplicates(
    subset=['销售时间', '社保卡号']
)

#总消费次数：有多少行
totalI=kpi1_Df.shape[0]

print('总消费次数=',totalI)

总消费次数= 5342

In [74]:
'''
计算月份数：时间范围
'''
#第1步：按销售时间升序排序
kpi1_Df=kpi1_Df.sort_values(by='销售时间',
                    ascending=True)
#重命名行名（index）
kpi1_Df=kpi1_Df.reset_index(drop=True)

In [75]:
kpi1_Df.head()

        销售时间         社保卡号    商品编码            商品名称  销售数量   应收金额   实收金额
0 2018-01-01  1.61653e+06  236701         强力VC银翘片   6.0   82.8   69.0
1 2018-01-01  1.00175e+10  868042  马来酸左旋氨氯地平片(玄宁)   1.0   46.0   46.0
2 2018-01-01  1.00746e+10  874684  厄贝沙坦氢氯噻嗪片(依伦平)   5.0  118.0  118.0
3 2018-01-01  1.17434e+07  861405   苯磺酸氨氯地平片(络活喜)   1.0   34.5   31.0
4 2018-01-01  1.33317e+07  861405   苯磺酸氨氯地平片(络活喜)   2.0   69.0   62.0

In [76]:
#第2步：获取时间范围
#最小时间值
startTime=kpi1_Df.loc[0,'销售时间']
#最大时间值
endTime=kpi1_Df.loc[totalI-1,'销售时间']

#第3步：计算月份数
#天数
daysI=(endTime-startTime).days
#月份数: 运算符“//”表示取整除 
#返回商的整数部分，例如9//2 输出结果是4
monthsI=daysI//30
print('月份数：',monthsI)

月份数： 6

In [77]:
#业务指标1：月均消费次数=总消费次数 / 月份数
kpi1_I=totalI // monthsI
print('业务指标1：月均消费次数=',kpi1_I)

业务指标1：月均消费次数= 890

In [78]:
#总消费金额
totalMoneyF=salesDf.loc[:,'实收金额'].sum()
#月均消费金额
monthMoneyF=totalMoneyF / monthsI
print('业务指标2：月均消费金额=',monthMoneyF)

业务指标2：月均消费金额= 50668.3516667

In [79]:
'''
totalMoneyF：总消费金额
totalI：总消费次数
'''
pct=totalMoneyF / totalI
print('客单价：',pct)

客单价： 56.909417821

In [80]:
import matplotlib.pyplot as plt
plt.scatter(exam_X, exam_Y, color="b", label="sales")
plt.show()

NameError: name 'exam_X' is not defined